apiVersion: apps/v1
kind: Deployment
metadata:
  name: youtube-api
  namespace: youtube-app
  labels:
    app: youtube-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: youtube-api
  template:
    metadata:
      labels:
        app: youtube-api
    spec:
      serviceAccountName: jenkins-deploy
      containers:
        - name: youtube-api
          image: prakuljain/yt-downloader:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 20
            failureThreshold: 3
          resources:
            requests:
              memory: "128Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "1000m"
          env:
            - name: DEBUG
              value: "false"
            - name: MAX_DOWNLOAD_SIZE
              value: "100"
            - name: DOWNLOAD_FOLDER
              value: "downloads"
            - name: APP_VERSION
              value: "1.0.0"
